/**
 * @name FrostedGlassX
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.dev
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://raw.githubusercontent.com/Redd181/FrostedGlassX/master/frostedglassx.theme.css');

:root {
  --home-button-image: url('https://i.imgur.com/8poL0uz.png');
  --home-button-size: contain;
  --home-button-position: center;
}

/* Any custom CSS below here */


