/**
 * @name FrostedGlassX
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.dev
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');

:root {
  --background-image: url('https://i.imgur.com/am9KctT.jpeg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/IPtAVcn.jpeg');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: var(--background-image);
  --overlay-image-blur: 0px;
  --overlay-image-size: contain;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/8poL0uz.png');
  --home-button-size: contain;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.8;
  --right-brightness: 0.8;
  --overlay-brightness: 0.8;
  --gradient-primary: 0,96,96;
  --gradient-secondary: 0,22,22;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgb(0,156,156,1);
  --gradient-direction: 166deg;
  --tint-colour: 0,22,22;
  --tint-brightness: 0.52;
  --font: Jorvik Informal;
  --window-padding: 0px;
  --window-roundness: 13px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


